dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox*
cabal.sandbox.config
*.prof
*.aux
*.hp
.DS_Store
.redo
.do_built*
*.swp
bin
prof
todo
src/ghci.sh
cabal.config
.stack-work
stack.yaml.lock
